.area-component {
    color: var(--third-color);
    flex-direction: column;
    text-align: left;
}

.area-heading {
    margin: 2rem auto;
}

.area-input1 {
    margin-top: 1rem;
}

.area-display {
    margin: 3rem 0px;
    background-color: var(--primary-color01);
    border: 5px solid var(--primary-color02);
    border-radius: 0.5rem;
    padding: 1rem;
}

.image01 {
    max-width: 70%;
    display: block;
    margin: auto;
}