.hypotenuse-component {
    color: var(--third-color);
    flex-direction: column;
    width: 100%;
    padding: 1rem;
}

.hypotenuse-heading {
    margin: 3rem auto;
    border-bottom: 2px solid var(--third-color);
    padding: 0.5rem;
}

.hypotenuse-triangle {
    width: 0;
    height: 0;
    border-left: 70px solid var(--primary-color02);
    border-right: 70px solid transparent;
    border-bottom: 70px solid var(--primary-color02);
    border-top: 70px solid transparent;
    /* margin-inline-start: 8rem; */
    position: relative;
    margin: 5rem auto;
}

.a {
    position: absolute;
    bottom: -90px;
    left: -10px;
}

.b {
    position: absolute;
    left: -85px;
    top: -10px;
}

.c {
    position: absolute;
    top: -10px;
    left: 10px;
}

.mb-3 {
    margin-bottom: 3rem;
}

.hypotenuse-form {
    margin: 2rem 0px;
}

.button {
    background-color: var(--primary-color01);
    border: 1px solid var(--primary-color01);
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
    margin-top: 2rem;
}

.button:hover {
    background-color: var(--primary-color02);
}

.hypotenuse-result {
    background-color: var(--primary-color01);
    width: 50%;
    margin: auto;
    color: var(--secondary-color);
    padding: 1rem;
    border-radius: 0.5rem;
    border: 5px solid var(--primary-color02);
}

.hypotenuse-formula {
    border-top: 1px solid var(--secondary-color);
}

.form-inner {
    justify-content: space-between;
}

.hypotenuse-input {
    width: 60px;
    padding: 0.5rem;
    margin-right: 1rem;
}

@media screen and (max-width: 400px) {
    .hypotenuse-triangle {
        margin-inline-start: 7.5rem;
    }
}